body {
	background-image: url('../img/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
    overflow: hidden;
    /*font-family: 'Pontano Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif; 
    background-color: rgb(192,163,157);
}
/* LOGIN FORM BOX */
.login-form {
    margin: auto;
    width: 80%;
    margin-top: 10em;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
    border-radius: 10px;
    border: 1px solid white;   
}
/* "SIGN IN" COLOR */
.mb-3 {
    color: #555555;
}
/* "SIGN IN" placement */
.mb-4 {
    margin-top: 1.5em;
}
label {
    margin-left: 4.7em;
    color: #555555;
    font-weight: bold;
}
.form-control {
    /*margin-left: 2em;*/
}
/*SIGN UP NOW a*/
.bo1 {
    text-decoration-line: underline;
}
.bo1:hover {
    color: indianred;
}
/* CENTER DIVS */
.col-centered {
    margin: 0 auto;
    float: none;
}
/* container for profile page */
.v-container {
    min-width: 90vw;
    margin-top: 2em;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(255,255, 255, 0.7);
}
/* profile pic */
#profile-pic {
    border: 1px solid white;
    background-color: rgba(220, 255, 255, 0.5);
    padding: 20px;
    width: 200px;
    border-radius: 30%;
}
/*TOP DIV.ROW */
.top-row-element {
   margin-top: 1.5em; 
}
/*SECOND DIV.ROW */
.second-row-element {
    margin-top: 2em;
}