<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viweport" content="width=device-width, initial-scale=1">
    <title>Project A - index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form class="form-group login-form" th:action="@{/logout}" method="POST">
            <div class="text-center mb-4">
                <img src="./img/hlogo4.png">
                <h1 class="h3 mb-3 font-weight-bold">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

                    <input type="submit" class="btn btn-danger" style="margin-left: 20px;margin-right: 10px;"value="Logout">

            </div>
            <br />
        </form>
    </div>
</body>

</html>
