<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viweport" content="width=device-width, initial-scale=1">
    <title>Project A - Messages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" href="./img/favicon.ico">
</head>

<body>
    <div class="container v-container text-center">
        <div class="mb-4">
			<div class="row">
				<div class="col">
				</div>
				<div class="col">
                <img src="./img/hlogo3.png">
				</div>
				<div class="col">
				 <form class="form-group" th:action="@{/logout}" method="POST">
                        <a class="btn btn-large btn-info" style="color: white;" th:href="@{/profile}">My Profile</a>
                        <input type="submit" class="btn btn-danger" style="margin-left: 20px;margin-right: 10px;"value="Logout">

                </form>
				</div>
				</div>
            <form th:object="${msgObj}" class="form-group" style="margin: 0 auto;" id="msg-form" name="form" th:action="@{saveMsg}" method="POST">
			
                <br />
                <br />
                <br />
                <div class="row text-left">
                    <div class="col">
                        <div class="form-group">
                            <label for="old-message" class="message-label">Message to encrypt</label>
                            <textarea class="form-control txtbox" rows="3" id="old-message" th:field="*{message}" required></textarea>
                            <br />                      
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="new-message" class="message-label">Encrypted message</label>
                            <textarea class="form-control txtbox" rows="3" id="new-message" readonly th:field="*{encryptedMsg}" required></textarea>
                            <br />
                        </div>
                    </div>
                </div>
                <h2>Options</h2>
                <div class="form-inline justify-content-center">
                    <div class="form-check">
                        <label class="form-check-label checkbox-option" for="visibility" style="padding-right: 1em;">Make message public</label>
                        <input type="checkbox" class="form-check-input" id="visibility" th:field="*{visibility}">

                    </div>
                    <div class="form-group">
                        <label for="encode" style="padding-right: 1em;margin-left: 0.7em;">Select encode:</label>
                        <select class="form-control" id="encode" required th:field="*{encode}">
                            <option value="" selected hidden></option>
                            <option value="Caesar Cipher">Caesar Cipher</option>
                            <option value="Morse Code">Morse Code</option>
                        </select>
                    </div>

                    <div class="quantity buttons_added shift-group form-group"><label style="margin-left: -1em;margin-right: 1em;">
                            Shift:</label>
                        <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text shift-value" size="4" pattern="" inputmode="" readonly><input type="button" value="+" class="plus">

                    </div>
                </div>
				<div class="row justify-content-center">
				<div class="col">
				<br/>
					 <input class="btn btn-success" id="encrypt-button" type="button" value="Encrypt!" style="margin-right: 2em;">
                            <input id="submit-button" class="btn btn-success" type="submit" value="Save!">
				</div>
				</div>

            </form>
            <div class="row second-row-element" th:object="${currentUser}">
                <div class="col col-lg">

                </div>
                <div class="col col-lg">
                    <h2>All public Messages</h2>
                </div>
                <div class="col col-lg">

                </div>
            </div>
            <div class="row">
                <div class="col col-lg">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Owner</th>
                                <th scope="col">Message</th>
                                <th scope="col">Encrypted message</th>
                                <th scope="col">Encoding</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-element" th:each="element : ${pubList}">
                                <td th:text="${element.user.firstname}"></td>
                                <td th:text="${element.message}"></td>
                                <td th:text="${element.encryptedMsg}"></td>
                                <td th:text="${element.encode}"></td>
                                <td><a sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger" th:href="@{/delete/{id}(id=${element.mid})}">Remove</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg">

                </div>
                <div class="col col-lg">

                </div>
                <div class="col col-lg">

                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
	<br/>
	<br/>
	<br/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(".shift-group").hide();

        /***************************/
        /*     0 = NONE            */
        /*     1 = CIPHER          */
        /*     2 = MORSE           */
        /***************************/
        $('#msg-form').submit(function(e) {
            var newMessageValue = $('#new-message').val();
            if(newMessageValue.length == 0) {
               alert('Press encrypt button! :-) before saving.');
               e.preventDefault();
           } else {
			   var encodeIndex = $("option:selected").index("option");
                var selectedOptionValue = $('option:selected');
                var shiftValue = $('.shift-value').val();
                if(encodeIndex === 1) {
					selectedOptionValue.prop('value',selectedOptionValue.prop('innerHTML') + ', shift: ' + shiftValue);
                }

            return;
           }
        });
        
        $("#encode").on('change', function() {
            var encodeIndex = $("option:selected").index("option");
            var x = $("option:selected").val();
            $(".shift-group").hide('slow');
            if (encodeIndex == 1) {
                $(".shift-group").show('slow');
            }
        });

        $("#encrypt-button").click(function() {
            $("#new-message").empty();
            var x = $("#old-message").val();
            //var selectedOption = $("#encode").val();
            var shiftvalue = $(".shift-value").val();
            var encodeIndex = $("option:selected").index("option");
            if (encodeIndex == 1) {
                caesarShift(x, Number(shiftvalue));
            } else if (encodeIndex == 2) {
                var morse = MorseCode.encode(x);
                $('#new-message').append(morse);
            }
            //console.log($("#visibility").is(":checked")); PRIVATE BOX VALUE
        });

        /*      CAESAR CIPHER FUNCTION https://gist.github.com/EvanHahn/2587465     */
        var caesarShift = function(str, amount) {
            // Make an output variable
            var output = '';
            // Go through each character
            for (var i = 0; i < str.length; i++) {
                // Get the character we'll be appending
                var c = str[i];
                // If it's a letter...
                if (c.match(/[a-z]/i)) {
                    // Get its code
                    var code = str.charCodeAt(i);
                    // Uppercase letters
                    if ((code >= 65) && (code <= 90))
                        c = String.fromCharCode(((code - 65 + amount) % 26) + 65);
                    // Lowercase letters
                    else if ((code >= 97) && (code <= 122))
                        c = String.fromCharCode(((code - 97 + amount) % 26) + 97);
                }
                // Append
                output += c;
            }
            // All done!
            $('#new-message').append(output);
        };

        //  function toCipher(x, y) { //y = string, x = shift
        /*      var i;
              var res = "";
              
              for (i = 0; i < x.length; i++) {
                  res += String.fromCharCode(x.charCodeAt(i) + Number(y));
              }
              console.log(y);
              $("#new-message").append(res);
          }*/


        /*
  // Create an Object to encode/decode morse code with
    m = Object.create(MorseCode);
  // Encoding text into morse code
    m.encode('test message') or m.morse('test message')
  // Decoding the morse code into plain text
    m.decode('.- -... -.-.') or m.morse('.- -... -.-.', true)
  // Without creating an object, just call it straight from the Object
    MorseCode.encode('test message');
    MorseCode.decode('.- -... -.-.');
*/
/* MORSE CODE FUNCTION https://github.com/Syncthetic/MorseCode */
        const MorseCode = {

            encode: (data) => {
                return MorseCode.morse.call(this, data);
            },

            decode: (data) => {
                return MorseCode.morse.call(this, data, true);
            },

            morse: (data, decode = false) => {

                this.map = {
                    a: '.-',
                    b: '-...',
                    c: '-.-.',
                    d: '-..',
                    e: '.',
                    f: '..-.',
                    g: '--.',
                    h: '....',
                    i: '..',
                    j: '.---',
                    k: '-.-',
                    l: '.-..',
                    m: '--',
                    n: '-.',
                    o: '---',
                    p: '.--.',
                    q: '--.-',
                    r: '.-.',
                    s: '...',
                    t: '-',
                    u: '..-',
                    v: '...-',
                    w: '.--',
                    x: '-..-',
                    y: '-.--',
                    z: '--..',
                    1: '.----',
                    2: '..---',
                    3: '...--',
                    4: '....-',
                    5: '.....',
                    6: '-....',
                    7: '--...',
                    8: '---..',
                    9: '----.',
                    0: '-----',

                    '.': '.-.-.-',
                    ',': '--..--',
                    '?': '..--..',
                    "'": '.----.',
                    '/': '-..-.',
                    '(': '-.--.',
                    ')': '-.--.-',
                    '&': '.-...',
                    ':': '---...',
                    ';': '-.-.-.',
                    '=': '-...-',
                    '+': '.-.-.',
                    '-': '-....-',
                    '_': '..--.-',
                    '"': '.-..-.',
                    '$': '...-..-',
                    '!': '-.-.--',
                    '@': '.--.-.',
                    ' ': '/',
                };

                if (decode) {
                    this.map = (
                        () => {
                            var tmp = {};
                            var k;
                            for (k in this.map) {
                                if (!this.map.hasOwnProperty(k)) continue;
                                tmp[this.map[k]] = k;
                            }
                            return tmp;
                        }
                    )();

                    return data.split(' ').filter((v) => {
                        return this.map.hasOwnProperty(v.toLowerCase());
                    }).map((v) => {
                        return this.map[v.toLowerCase()].toUpperCase();
                    }).join('');

                } else {
                    return data.split('').filter((v) => {
                        return this.map.hasOwnProperty(v.toLowerCase());
                    }).map((v) => {
                        return this.map[v.toLowerCase()].toUpperCase();
                    }).join(' ').replace(/,\/,/g, '/');
                }
            }
        };

    </script>
    <script>
        function wcqib_refresh_quantity_increments() {
            jQuery("div.quantity:not(.buttons_added), td.quantity:not(.buttons_added)").each(function(a, b) {
                var c = jQuery(b);
                c.addClass("buttons_added"), c.children().first().before('<input type="button" value="-" class="minus" />'), c.children().last().after('<input type="button" value="+" class="plus" />')
            })
        }
        String.prototype.getDecimals || (String.prototype.getDecimals = function() {
            var a = this,
                b = ("" + a).match(/(?:\.(\d+))?(?:[eE]([+-]?\d+))?$/);
            return b ? Math.max(0, (b[1] ? b[1].length : 0) - (b[2] ? +b[2] : 0)) : 0
        }), jQuery(document).ready(function() {
            wcqib_refresh_quantity_increments()
        }), jQuery(document).on("updated_wc_div", function() {
            wcqib_refresh_quantity_increments()
        }), jQuery(document).on("click", ".plus, .minus", function() {
            var a = jQuery(this).closest(".quantity").find(".qty"),
                b = parseFloat(a.val()),
                c = parseFloat(a.attr("max")),
                d = parseFloat(a.attr("min")),
                e = a.attr("step");
            b && "" !== b && "NaN" !== b || (b = 0), "" !== c && "NaN" !== c || (c = ""), "" !== d && "NaN" !== d || (d = 0), "any" !== e && "" !== e && void 0 !== e && "NaN" !== parseFloat(e) || (e = 1), jQuery(this).is(".plus") ? c && b >= c ? a.val(c) : a.val((b + parseFloat(e)).toFixed(e.getDecimals())) : d && b <= d ? a.val(d) : b > 0 && a.val((b - parseFloat(e)).toFixed(e.getDecimals())), a.trigger("change")
        });

    </script>

</body>

</html>
