<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viweport" content="width=device-width, initial-scale=1">
    <title>Project A - My Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css" th:href="@{/css/styles.css}">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" href="./img/favicon.ico">
</head>

<body>
    <div class="container v-container text-center">
        <div class="row top-row-element">
            <div class="col col-lg">
                    <img id="profile-pic" src="./img/profile_pic_bunny.png">
            </div>
            <div class="col col-lg">
               
            </div>
            <div class="col col-lg">
               
            </div>
        </div>
        <div class="row second-row-element" th:object="${currentUser}">
            <div class="col col-lg">
                <h4>[[${#httpServletRequest.remoteUser}]]</h4>
                <h5 th:text="*{firstname}">NAME</h5>
                <h5 th:text="*{email}">EMAIL</h5>
            </div>
            <div class="col col-lg">
                <h2>Messages</h2>
            </div>
            <div class="col col-lg">

            </div>
        </div>
        <div class="row">
            <div class="col col-lg">
                
            </div>
            <div class="col col-lg">
                
            </div>
            <div class="col col-lg">
                
            </div>
        </div>
        <div class="row">
            <div class="col col-lg">
                
            </div>
            <div class="col col-lg">
                
            </div>
            <div class="col col-lg">
                
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <!--<form class="form-group login-form" th:action="@{/logout}" method="POST">
            <div class="text-center mb-4">
                <img src="./img/hlogo4.png">
                <h1 class="h3 mb-3 font-weight-bold text-left">[[${#httpServletRequest.remoteUser}]]!</h1>
				<p>Profile</p>
				<input class="btn btn-info" type="button" value="Encrypt messages">
				<input class="btn btn-info" type="button" value="Modify my profile">


            </div>
      
			<div class="text-center mb-4">
			  <input type="submit" class="btn btn-danger" style="margin-left: 20px;margin-right: 10px;"value="Logout">
		</div>
        </form> -->

    </div>
</body>

</html>
